/* change these */

@import url("https://fonts.googleapis.com/css2?family=Jaldi:wght@700&family=Nanum+Gothic:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

/* THIS IS ALL meant for editing. You might want to do it differently, 
name the variables differently, 
use the fonts in other ways in the font hierarchy etc. */

/* change these */
:root {
  --color-1: #ebd8b2;
  --color-2: #29946c;
  --color-3: #c0d496;
  --color-4: #d49c96;
  --color-5: #d8b0f7;

  --primary-font: "Jaldi", sans-serif;
  --secondary-font: "Nanum Gothic", serif;
  --main-text-color: #000;

  --white-space: 1rem;
}

button {
  transition: all 3s;
}
a {
  transition: all 3s;
}
button:hover {
  background-color: var(--color-5);
  transform: scale(1.1);
}

button:active {
  background-color: var(--color-4);
}

a:hover {
  color: var(--color-2);
  font-size: 1.1rem;
}
html {
  font-size: 100%;
  font-family: var(--primary-font);
  letter-spacing: 0.4px;
}

img {
  max-width: 100%;
  height: auto;
}

header,
main,
footer {
  max-width: 1300px;
  margin: 0 auto;
  padding: calc(2 * var(--white-space));
}

.full-width {
  background: var(--color-4);
  color: white;
  width: 100%;
}

.header-wrapper h1 {
  font-size: 3rem;
  text-transform: uppercase;
  padding-right: 0.75em;
  font-weight: bold;
  color: white;
  letter-spacing: 4px;
}

.header-wrapper h2 {
  font-size: 1.6em;
  color: rgba(255, 255, 255, 0.95);
  font-weight: bold;
  margin: var(--white-space) 0;
  letter-spacing: 4px;
}

.header-wrapper h4 {
  font-size: 0.8rem;
  letter-spacing: 2px;
}

.header-wrapper :hover {
  background-color: var(--color-5);
}

main {
  padding: calc(2 * var(--white-space));
}

section {
  margin-bottom: calc(4 * var(--white-space));
}

.section-heading {
  font-size: 1.2rem;
  color: #888;
  margin: 0.5rem 0;
}

ul {
  display: flex;
  justify-content: space-between;
}

.swatches li {
  margin-right: 5vw;
  height: 15vw;
  width: 20%;
}
.swatches li:hover {
  transform: translateY(10%);
}

ul li:last-child {
  margin-right: 0;
}

.color-swatch-1 {
  background-color: var(--color-1);
}

.color-swatch-2 {
  background-color: var(--color-2);
}

.color-swatch-3 {
  background-color: var(--color-3);
}

.color-swatch-4 {
  background-color: var(--color-4);
}

.color-swatch-5 {
  background-color: var(--color-5);
}

.textures li {
  height: 30vw;
  width: 40%;
  margin-right: 5vw;
}
.textures li:hover {
  transform: scale(1.1);
}

.texture-swatch-1 {
  background: url("../img/greenwall.jpg") top left no-repeat;
  background-size: cover;
}

.texture-swatch-2 {
  background: url("../img/pinkcolorblock.jpg") no-repeat top left;
  background-size: cover;
}

.texture-swatch-3 {
  background: url("../img/yellow_light.jpg") no-repeat top left;
  background-size: cover;
}

.images ul {
  flex-direction: column;
  text-align: center;
}

.images li {
  display: block;
  margin-right: 5vw;
  margin-bottom: 1rem;
}

button {
  padding: 1rem;
  border: none;
  border-radius: 10px;
  background: var(--color-3);
  text-align: center;
  text-decoration: none;
  font: bold 1.25em/1 var(--primary-font);
  letter-spacing: 1.2px;
  color: white;
  text-transform: uppercase;
  text-shadow: -1px -1px 0px var(--color-4);
  transition: all 0.2s ease;
  cursor: pointer;
  margin: 0 1rem 1rem 0;
}

.secondary-button {
  background: var(--color-2);
}

button:focus,
button:active,
button:focus-within {
  outline: 0;
  border-radius: 4px;
}

.typography-main {
  color: var(--main-text-color);
}

.h1-sample {
  font-size: 2.4rem;
  font-weight: bold;
}

.h2-sample {
  font-family: var(--secondary-font);
  font-style: italic;
  font-size: 1.25rem;
}

p.typography-sample {
  font-family: var(--secondary-font);
  line-height: 1.5;
  font-size: 0.85rem;
  max-width: 960px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  font-family: var(--primary-font);
  color: var(--color-4);
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s;
}

p[class*="font-details-"] {
  margin-top: 0.5rem;
  margin-bottom: calc(2 * var(--white-space));
  font-size: 0.75rem;
  font-family: var(--secondary-font);
  color: #6f6f6f;
}

.adjectives ul {
  font-size: 1rem;
  opacity: 0.5;
  font-family: var(--secondary-font);
}

.adjectives ul {
  flex-direction: column;
}

footer {
}

@media (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }

  .swatches li {
    margin-right: 3%;
    height: 10vw;
    width: 20%;
  }

  .textures li {
    height: 15vw;
  }
}

@media (min-width: 900px) {
  .adjectives ul {
    flex-direction: row;
  }
}
